on: push
name_ deploy
jobs:
  deploy:
    name: deploy to cluster
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: push to docker hub
        uses: docker/build-push-actions@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: omarvicentinho1/entrega-devops
          tag_with_ref: true

